# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Streamlit secrets
.streamlit/secrets.toml

# Quarto temporary files
.quarto/

# OS/editor temp files
*.swp
*.swo